.overlayButton-container {
  background-color: #3959cd;
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 20px;
  width: 100px;
  margin: 0;
  padding: 0 0 0 10px;

  list-style: none;
  overflow: hidden;
  border-top-left-radius: 15px;

  display: flex;
  flex-direction: row-reverse;
  justify-items: center;
  align-items: center;
}

.overlayButton-item {
  display: inline;
  height: 100%;
  width: 50%;
  background-color: transparent;
  color: white;
  font-size: 14px;
  text-align: center;
}

.overlayButton-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
