body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;

  background-color: #111;
  user-select: none;
}

.main-container {
  background-color: #111;
}

.main-error {
  margin: 20px;
  padding: 10px;
  background-color: #ff4d4d;
  color: white;
}

.main-message {
  margin: 20px;
  padding: 10px;
  background-color: #3959cd;
  color: white;
}

.shortcuts-bg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  color: white;
  padding: 20px;
}
